.modalBackground{
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.568);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Jost", sans-serif;
}

.modalContainer{
    width: 35vw;
    height: 55vh;
    border-radius: 10%;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* border: 2px solid black; */
}


.modalContainer .modalTitle{
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
    margin-bottom: 55px;
    /* border: 2px solid blue; */
}

.close-btn-div{
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}



.modalContainer .payment-btns{
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.7rem;
    text-align: center;
    /* border: 2px solid yellow; */
    margin-bottom: 50px;
}


.close-btn {
    background: #ff2020;
    border: 1px solid #ff2020;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .close-btn:hover,
  .close-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff2020;
  }
  
  .logIn-btn:active {
    opacity: .5;
  }
  