.full-admin-div{
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: -5rem;
    justify-content: center;
    align-items:center;
    /* border: 2px solid red; */
}

.all-appointments{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.all-blogs{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* border: 2px solid green; */
}

.all-appointments-blogs{
    padding-top: 50px;
    padding-right: 60px;
    /* border: 1px solid #192138; */
    border-radius: 2%;
    box-shadow: 0 5px 25px 0 rgb(0, 0, 0);
}

.dash-btn{
    margin-bottom: 40px;
    margin-left: 75px;
    /* border: 2px solid red; */
}