.bg-about{
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit:fill;
    z-index: -1;
    overflow: hidden;
    /* border: 2px solid rgb(62, 255, 3); */
}

.bg-about img{
    position: absolute;
    width: 99vw;
    height: 80vh;
    object-fit:cover;
    filter: brightness(70%);
    /* border: 2px solid rgb(62, 255, 3); */
}




.emp-div-about{
    height: 91vh;
    width: 99vw;
    /* border: 2px solid blue; */
}


.emp-div-about div.emp-title{
    height: max-content;
    width: max-content;
    position: relative;
    left: 10%;
    top: 35%;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    font: small-caps bold 1.5rem/1 sans-serif;
    /* border: 2px solid rgb(62, 255, 3); */
}

.emp-div-about div.exc-care{
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: conic-gradient(#fff,white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -425px 0;
    animation: backcolor1 3.5s linear infinite alternate;
    /* border: 2px solid rgb(62, 255, 3); */
}

@keyframes backcolor1{
    100%{
        background-position: 0 0;
    }
}

.emp-div-about div.all-ages{
    width: max-content;
    margin: auto;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: conic-gradient(#ffff,#ffff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -325px 0;
    animation: backcolor2 3.5s linear infinite alternate;
    /* border: 2px solid rgb(62, 255, 3); */
}

@keyframes backcolor2{
    100%{
        background-position: 0 0;
    }
}

.about-us-main{
    display: flex;
    justify-content:center;
    gap: 200px;
    padding: 100px;
    /* border: 2px solid red; */
}

.about-us-main img{
    width: 400px;
    height: 400px;
}

.about-doc{
    font-size: 1.5rem;
    width: 500px;
    height: max-content;
}

.about-doc hr{
    border: 5px solid grey;
}

.about-doc-context{
    padding: 10px 50px;
}

.doc-name{
    font: small-caps bold 2rem/1 sans-serif;
}



