.outer1{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* border: 2px solid rgb(102, 0, 128); */
}

.bg{
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit:fill;
    z-index: -1;
    overflow: hidden;
    /* border: 2px solid rgb(62, 255, 3); */
}

.bg img{
    position: absolute;
    width: 99vw;
    height: 80vh;
    object-fit:cover;
    /* border: 2px solid rgb(62, 255, 3); */
}


.emp-div1{
    height: 91vh;
    width: 100%;
    /* border: 2px solid blue; */
}


.emp-div1 div.emp-title{
    height: max-content;
    width: max-content;
    position: relative;
    left: 60%;
    top: 35%;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    font: small-caps bold 1.5rem/1 sans-serif;
    /* border: 2px solid rgb(62, 255, 3); */
}

.emp-div1 div.exc-care{
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -425px 0;
    animation: backcolor1 3.5s linear infinite alternate;
    /* border: 2px solid rgb(62, 255, 3); */
}

@keyframes backcolor1{
    100%{
        background-position: 0 0;
    }
}

.emp-div1 div.all-ages{
    width: max-content;
    margin: auto;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -325px 0;
    animation: backcolor2 3.5s linear infinite alternate;
    /* border: 2px solid rgb(62, 255, 3); */
}

@keyframes backcolor2{
    100%{
        background-position: 0 0;
    }
}



.inner1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(233, 10, 10); */
}

.main-form-div{
    margin-top: 15vh;
    margin-left: 5vw;
    margin-bottom: 8vw;
    height: 90vh;
    width: 35vw;
    background: #45afe0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  5%; 
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
    border: 2px solid green;
    transition: all, .7s;
}

.main-form-div:hover{
    box-shadow: 1px 1px 3px 3px rgba(5, 38, 58, 0.5);
    transform:translateZ(4%);
    transform:translateY(-1%);
    transition: all, .5s;
}

.main-form{
    display: grid;
    margin: auto;
    grid-template-columns: repeat( 4, 1fr );
    gap: 32px 5px;
    width: 60vh;
    height: 50vh;
    z-index: 2;
    /* border: 2px solid yellow; */
}

.form-column-div{
    /* border: 2px solid blueviolet; */
    grid-column: span 2;
    /* width: max-content; */
    height: max-content;
    /* padding: 4px; */
    /* width: 50px; */
}

.submit-button-div{
    grid-column: span 4;
    display: flex;
    justify-items: center;
    align-items: center;
    /* border: 1px solid red; */
}

.submit-button-div button{
    margin: auto;
}

.submit-button button{
    margin: auto;
    height: 7vh;
    width: 10vw;
    margin-top: 0;
    border-radius: 20%;
}

.submit-button button:hover{
    background-color: rgb(105, 170, 245);
    color: white;
    cursor: pointer;
}

.input-tag{
    /* outline:brown; */
    height: 5vh;
    width: 160px;
    /* box-shadow: 0 5px 20px 0 rgb(0, 0, 0); */
    /* border-radius: 5%; */
    /* border-color: 10px solid red; */
    /* outline: 3px ridge rgba(43, 202, 176, 0.6); */
    /* border-radius: 2rem; */
}

.purpose-text{
    width: 350px;
    height: 10vh;
}

.side-img{
    margin-top: 25vh;
    /* margin-bottom: 30vh; */
    padding-bottom: 0%;
    margin-right: 5vw;
    width: 60vh;
    height: 50vh;
    z-index: 2;
    /* border: 2px solid yellow; */
    /* box-sizing: content-box; */
    width:max-content;
    /* height: max-content; */
    /* overflow: hidden; */
}

.side-img img{
    box-sizing: border-box;
    overflow: hidden;
}


/* cicle in absolute position */
.outer-rad{
    z-index: 3;
    position: absolute;
    top: 90vh;
    right: -38%;
    background-color: #6fbde2;
    height: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 50%;
    z-index: 0;
  }
  .inner-rad{
    background-color: white;
    height: 600px;
    width: 600px;
    border-radius: 50%;
  }

