.outer1{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* border: 2px solid rgb(102, 0, 128); */
}

.bg{
    position: absolute;
    width: 100vw;
    height: 80vh;
    object-fit:fill;
    z-index: -1;
    overflow: hidden;
    /* border: 2px solid rgb(62, 255, 3); */
}

.bg img{
    position: absolute;
    width: 100vw;
    height: 80vh;
    object-fit:cover;
    /* border: 2px solid rgb(62, 255, 3); */
}


.emp-div1{
    height: 91vh;
    width: 100%;
    /* border: 2px solid blue; */
}


.emp-div1 div.emp-title{
    height: max-content;
    width: max-content;
    position: relative;
    left: 60%;
    top: 35%;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    font: small-caps bold 1.5rem/1 sans-serif;
    /* border: 2px solid rgb(238, 255, 3); */
}

.emp-div1 div.exc-care{
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -425px 0;
    animation: backcolor1 3.5s linear infinite alternate;
    /* border: 2px solid rgb(238, 255, 3); */
}

@keyframes backcolor1{
    100%{
        background-position: 0 0;
    }
}

.emp-div1 div.all-ages{
    width: max-content;
    margin: auto;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -325px 0;
    animation: backcolor2 3.5s linear infinite alternate;
    /* border: 2px solid rgb(255, 196, 3); */
}

@keyframes backcolor2{
    100%{
        background-position: 0 0;
    }
}



.inner1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(233, 10, 10); */
}

.main-form-div{
    margin-top: 15vh;
    margin-left: 5vw;
    margin-bottom: 8vw;
    height: 90vh;
    width: 35vw;
    min-width: max-content;
    background: #45afe0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 60px;
    border-radius:  5%; 
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
    /* border: 2px solid rgb(255, 6, 6); */
    font-family: "Jost", sans-serif;
    transition: all, .7s;
}

.main-form-div:hover{
    box-shadow: 1px 1px 3px 3px rgba(5, 38, 58, 0.5);
    transform:translateZ(4%);
    transform:translateY(-1%);
    transition: all, .5s;
}

.main-form{
    display: grid;
    margin: auto;
    margin-top: 35px;
    grid-template-columns: repeat( 4, 1fr );
    gap: 32px 5px;
    width: 60vh;
    height: 50vh;
    z-index: 2;
    /* border: 2px solid yellow; */
}

.form-column-div{
    /* border: 2px solid blueviolet; */
    grid-column: span 2;
    /* width: max-content; */
    height: max-content;
    /* padding: 4px; */
    /* width: 50px; */
}

.submit-button-div{
    grid-column: span 4;
    display: flex;
    justify-items: center;
    align-items: center;
    /* border: 1px solid rgb(9, 255, 0); */
}

.submit-button-div button{
    margin: auto;
}

.submit-button button:hover{
    background-color: rgb(105, 170, 245);
    color: white;
    cursor: pointer;
}

.input-tag{
    /* outline:brown; */
    height: 5vh;
    width: 160px;
    /* box-shadow: 0 5px 20px 0 rgb(0, 0, 0); */
    /* border-radius: 5%; */
    /* border-color: 10px solid red; */
    /* outline: 3px ridge rgba(43, 202, 176, 0.6); */
    /* border-radius: 2rem; */
}

.purpose-text{
    width: 350px;
    height: 10vh;
}

.side-img{
    margin-top: 25vh;
    /* margin-bottom: 30vh; */
    padding-bottom: 0%;
    margin-right: 5vw;
    width: 60vh;
    height: 50vh;
    z-index: 2;
    /* border: 2px solid yellow; */
    /* box-sizing: content-box; */
    width:max-content;
    /* height: max-content; */
    /* overflow: hidden; */
}

.side-img img{
    box-sizing: border-box;
    overflow: hidden;
    /* border: 2px solid goldenrod; */
}


/* cicle in absolute position */
.outer-rad{
    z-index: -55;
    position: absolute;
    top: 90vh;
    right: -38%;
    background-color: #6fbde2;
    height: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 50%;
    /* z-index: 0; */
    /* border: 2px solid rebeccapurple; */
}
  .inner-rad{
    position: absolute;
    background-color: white;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    /* border: 2px solid royalblue; */
  }

  /* **************** Media Queries ******************* */
  @media (max-width:1025px){
    .main-form-div{
        width: 50vw;
    }
    .inner1{
        justify-content: center;
    }
    .bg{
        height: 60vh;
    }
    .bg img{
        height: 60vh;
    }
    .emp-div1{
        height: 60vh;
    }
    .emp-div1 div.emp-title{
        left: 55%;
        top: 45%;
        font: small-caps bold 1rem sans-serif;
    }
    .side-img{
        display: none;
    }
    .main-form-div h3{
        padding: 10px;
    }
}
@media (max-width:770px){
    .emp-div1 div.emp-title{
        left: 55%;
        top: 65%;
        font: small-caps bold 0.7rem sans-serif;
    }
    .emp-div1 div.exc-care{
        -webkit-text-stroke: 0.5px white;
        background-position: -245px 0;
    }
    .emp-div1 div.all-ages{
        -webkit-text-stroke: 0.5px white;
        background-position: -225px 0;
    }
    .main-form-div h3{
        padding: 10px;
    }
    .main-form-div{
        margin-left: 0;
        padding-top: 20px;
    }
    .main-form{
        padding: 2px;
    }
}
@media (max-width:480px){
    .emp-div1 div.emp-title{
        left: 28%;
        top: 65%;
        font-size: 0.9rem;
    }
    .emp-div1 div.exc-care{
        -webkit-text-stroke: 0.5px white;
        background-position: -245px 0;
    }
    .emp-div1 div.all-ages{
        -webkit-text-stroke: 0.5px white;
        background-position: -225px 0;
    }
    
    .main-form-div{
        margin-top: 10vh;
        margin-left: 0;
        margin-bottom: 20vw;
        height: 90vh;
        width: 35vw;
        min-width: max-content;
        padding-top: 20px;
        height: max-content;
    }

    .main-form-div:hover{
        box-shadow: none;
        transform: none;
        transform: none;
    }
    
    .mendate-info{
        padding: 20px;
        min-width: 100px;
        height: max-content;
        font-size: 1rem;
        /* border: 2px solid red; */
    }
    
    .main-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        grid-template-columns: repeat( 4, 1fr );
        gap: 20px;
        width: max-content;
        height: max-content;
        z-index: 2;
        /* border: 2px solid yellow; */
        margin-bottom: 20px;
        padding-bottom: 2rem;
    }
    
    .purpose-text{
        width: 160px;
        height: 10vh;
    }
}


/* ************ POP UP ****************** */

.popup{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.514);

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
}

.popup-close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}


/* CSS btn */
.close-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.close-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* ******* Disappearing icons in date and time input tags */

input[type="date"]::-webkit-calendar-picker-indicator  {
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;;
    /* border: 2px solid red; */
}
input[type="time"]::-webkit-calendar-picker-indicator {
    
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;;
    /* border: 2px solid red; */
}

.emp-time-date-div{
    position: absolute;
    /* border: 2px solid red; */
    pointer-events:none; 
    height: 5vh;
    width: 160px;
    color: black;
    padding-top: 5px;
}

.date-time-tags{
    display: flex;
    /* border: 2px solid red; */
}
