
.write-blog-outer-div{
    margin:10px;
    padding: 10px;
    display:flex;
    align-items: center;
}

.write-blog-inner-div{
    margin-top: 20px;
    display:flex;
    padding: 25px;
}

.write-blog-form{

    display: grid;
    padding: 25px;
    /* flex-direction: column; */
    border: 2px solid red;
}




