@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

html {
  overflow-x: hidden;
}

.write-blog-outer-div {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}
.back-btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  background-color: #ff4742;
  border-radius: 5%;
  font-weight: bold;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
}

/* .back-btn:hover {
  background-color: #ddd;
  color: black;
} */

.back-btn:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
  border-color: white;
}
/* .back-btn:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  border-color: white;
} */

/* .back-btn {
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
} */

.back-btn:hover:before {
  margin-left: 300%;
}

.back-btn:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.write-blog-bg {
  position: absolute;
  width: 100vw;
  height: 120vh;
  z-index: -2;
  object-fit: cover;
}

.write-blog-inner-div {
  margin-top: 20px;
  display: flex;
  padding: 25px;
  background-color: #abcfcc77;
  color: white;
  /* border: 2px solid red; */
}

.write-blog-form {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: grid;
  padding: 15px;
  padding-bottom: 0;
  /* flex-direction: column; */
  /* border: 2px solid rgb(148, 163, 15); */
}

.wb-one-ele {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  /* border: 2px solid green; */
}

.wb-title {
  outline: none;
  width: 50vw;
  height: 5vh;
}

.wb-title:focus {
  outline: 2px solid #00113f;
}

.wb-context {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.wb-context:focus {
  outline: 2px solid #00113f;
}

.wb-post-btn {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.wb-post-btn:hover,
.wb-post-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.wb-post-btn:active {
  opacity: 0.5;
}

@media (max-width: 1025px) {
  .write-blog-bg {
    height: 140vh;
  }
  .write-blog-form {
    font-size: 1rem;
    font-weight: 500;
  }
  .wb-title {
    outline: none;
    width: 50vw;
    height: 5vh;
  }
  .wb-title:focus {
    outline: 0.7px solid #00113f;
  }
  .wb-context {
    font-size: 1rem;
    width: 80vw;
  }
}
@media (max-width: 770px) {
  .write-blog-bg {
    height: 120vh;
  }
  .write-blog-inner-div {
    margin-top: 10px;
    padding: 15px;
  }
  .write-blog-form {
    padding: 0;
  }
  .wb-one-ele {
    padding: 0;
  }
}
