@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


.table-outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5vw;
    height: max-content;
    /* border: 2px solid black; */
}

.emp-div-nav{
    width: 100%;
    height: 15vh;
    border: 2px solid blue;
    background-color: #326494;
}

.table-inner-container1{
    width:max-content;
    height:max-content;
    margin: 10rem 0;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0);
    border-bottom: 4px solid #008678;
    /* border: 2px solid green; */
}


.table-inner-container2{
    font-family: "Jost", sans-serif;
    font-size: 1.05rem;
    width:max-content;
    height: max-content;
    /* border: 2px solid red; */
}

.table-heading{
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    padding: 10px;
    /* border: 2px solid rgb(156, 133, 2); */
}

.table-content{
    border-top: 25px;
    width: max-content;
    height: max-content;
    border-collapse: collapse;
    cursor:default;
    /* border: 2px solid rgb(1, 44, 1); */
}

.thead-dark{
    width: max-content;
    height: max-content;
    background-color: #008678;
    color: white;
    padding: 10px;
    margin: 10px;
}



th,td{
    text-align: center;
    padding: 15px;
    max-width: 11vw;
    /* inline-size: 4vw; */
}

td{
    overflow-wrap: break-word;
    hyphens:manual;
}

.new-record-operations{
    display: flex;
    justify-content: space-evenly;
    gap: 7px;
}

.update-btn{
    color:rgb(0, 128, 85);
}

.delete-btn{
    color: red;
    cursor: pointer;
}

.tick-btn{
    color: rgb(34, 228, 34);
}

.even-row{
    background-color: rgb(211, 223, 215);
}


/* ******************************* edit.css *******************************/

.form-group{
    /* border: 2px solid red; */
    padding: 25px;
}

.edit-container{
    padding: 25px;
    border: 2px solid rgb(4, 161, 83);
    border-radius: 6px;
}

.operation-btns{
    display: flex;
    justify-content:space-evenly;
}

.cancel-button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.cancel-button:hover,
.cancel-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.cancel-button:active {
  opacity: .5;
}


.submit-btn {
  background: #0dc544;
  border: 1px solid #0aaf49;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #0ba05a;
}

.submit-btn:active {
  opacity: .5;
}


