.footer{
    padding: 4rem;
    background-color: rgb(50,100,148);
    color: white;
    display: flex;
    justify-content:space-around;
    height: 60vh;
    width: 100%;
}


.footer div{
    font: 1.2em "Fira Sans", sans-serif;
    /* border: 2px solid rgb(5, 182, 49); */
    overflow: hidden;
}




.social-svgs{
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-services{
    display: grid;
}

.contact-us{
    display: grid;
}

/* .footer-services-inner{
    display: grid;
    justify-content: center;
    align-items: center;
} */


.footer svg{
    width: 2rem;
    color: aqua;
    background-color: rgb(50,100,148);
    fill: white;
    padding-bottom: 10px;;
}

.footer li{
    list-style-type: none;
}

.map img{
    height: 35vh;
}

@media(max-height:600px){
    .map img{
        width: 30vw;
    }
}