.footer{
    padding: 4rem;
    background-color: rgb(50,100,148);
    color: white;
    display: flex;
    justify-content:space-around;
    height: 60vh;
    width: 100%;
}


.footer div{
    font: 1.2em "Fira Sans", sans-serif;
    /* border: 2px solid rgb(5, 182, 49); */
    overflow: hidden;
}

.social-svgs{
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-services{
    display: grid;
}

.contact-us{
    display: grid;
}

/* .footer-services-inner{
    display: grid;
    justify-content: center;
    align-items: center;
} */


.footer svg{
    width: 2rem;
    color: aqua;
    background-color: rgb(50,100,148);
    fill: white;
    padding-bottom: 10px;
    /* border: 2px solid red; */
}

.footer li{
    list-style-type: none;
}

.map img{
    height: 35vh;
}

@media(max-width:1025px){
    .map img{
        width: 15vw;
        height: auto;
    }
}
@media(max-width:770px){
    .footer{
        flex-direction: column;
        height: max-content;
    }
    .social{
        margin: 0;
        padding: 0;
    }
    .social-svgs{
        display: flex;
        justify-content:flex-start;
        padding: 0 20px;
    }
    .social-svgs ul{
        display: flex;
        margin: 0;
        padding: 0;
    }
    .social-svgs li{
        padding: 10px;
    }

    .footer-services div{
        padding-left: 40px;
    }

    .contact-us div{
        padding-left: 40px;
    }

}
@media(max-width:480px){
    .map img{
        width: 30vw;
    }
    .footer div{
        font-size: .9rem;
    }
    .map img{
        padding-left: 40px;
    }
}